.DS_Store
*.log
.utmp/

Unity/Library/
Unity/Temp/
Unity/Obj/
Unity/obj/
Unity/Build/
Unity/Builds/
Unity/Logs/
Unity/UserSettings/
Unity/MemoryCaptures/
Unity/Recordings/
Unity/ProfilerCaptures/

Unity/.idea/
.idea/
.vs/
.gradle/
.consulo/

Unity/*.csproj
Unity/*.unityproj
Unity/*.sln
Unity/*.slnx
Unity/*.suo
Unity/*.tmp
Unity/*.user
Unity/*.userprefs
Unity/*.pidb
Unity/*.booproj
Unity/*.svd
Unity/*.pdb
Unity/*.mdb
Unity/*.opendb
Unity/*.VC.db

*.blend1
*.blend1.meta

Unity/ServerData/
Unity/Assets/StreamingAssets/aa*
Unity/Assets/AddressableAssetsData/link.xml*
Unity/Assets/Addressables_Temp*
Unity/Assets/AddressableAssetsData/*/*.bin*
Unity/Assets/Unity.VisualScripting.Generated/
Unity/Assets/SceneDependencyCache*
Unity/Assets/sceneDependencyCache*
Unity/Assets/Plugins/Editor/JetBrains*
